/* .buttons {
  display: flex;
  align-items: center;
  font-size: 40px;
  gap: 40px;
}
.btn {
  width: 200px;
  height: 50px;
  font-size: 32px;
} */

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 60px;
}
main {
  padding: 25px 25px;
  max-width: 1920px;
}
